body{
    background-color: lightslategray;
    background-image: url('../image/background.jpeg');
}

button {
    background-color: lightslategray; /* Green */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button:hover{
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}

#header {
    height: 100px;
    position: relative;
    border-radius: 5px;
}

#login-details {
    position: absolute;
    right: 10px;
    top: 35px;
}

#welcome{
    width: 500px;
    margin: auto;
    padding-top: 50px;
    padding-left: 150px;
}

#header-details{
    padding-left: 50px;
}