body {
    background-color: lightslategray;
    background-image: url('../image/background.jpeg');
}

#username,#password{
    background-color: lightslategray; /* Green */
    padding: 10px 20px;
    border-radius: 9px;
    border-color: black;
}

#header {
    height: 100px;
    position: relative;
    border-radius: 5px;
}

#login-header {
    position: relative;
}

#logout-detail {
    position: absolute;
    right: 10px;
    top: 35px;
}

#search-detail {
    position: absolute;
    right: 100px;
    top: 35px;
    border-radius: 5px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}


td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}


h3{
    font-style: oblique;
}

span{
    font-weight: bold;
}

#remove{
    margin-right: 20px;
}

p{
    font-style: initial;
    font-size: 100px;
    text-align: center;

}

button {
    background-color: lightslategray; /* Green */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

button:hover{
    animation: pulsate 1s ease-in-out;
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff, 0 0 50px #4e00c2;
    }
}

#input-search{
    background-color: white; /* Green */
    padding: 10px 20px;
    border-radius: 9px;

}